<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.wedding.demo.mapper.ImgMapper" >
  <resultMap id="BaseResultMap" type="com.qfedu.wedding.demo.pojo.Img" >
    <id column="img_id" property="imgId" jdbcType="INTEGER" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="img_hotel_id" property="imgHotelId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    img_id, img_url, img_hotel_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from img
    where img_id = #{imgId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from img
    where img_id = #{imgId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.wedding.demo.pojo.Img" >
    insert into img (img_id, img_url, img_hotel_id
      )
    values (#{imgId,jdbcType=INTEGER}, #{imgUrl,jdbcType=VARCHAR}, #{imgHotelId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.wedding.demo.pojo.Img" >
    insert into img
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="imgId != null" >
        img_id,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="imgHotelId != null" >
        img_hotel_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="imgId != null" >
        #{imgId,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="imgHotelId != null" >
        #{imgHotelId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.wedding.demo.pojo.Img" >
    update img
    <set >
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="imgHotelId != null" >
        img_hotel_id = #{imgHotelId,jdbcType=INTEGER},
      </if>
    </set>
    where img_id = #{imgId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.wedding.demo.pojo.Img" >
    update img
    set img_url = #{imgUrl,jdbcType=VARCHAR},
      img_hotel_id = #{imgHotelId,jdbcType=INTEGER}
    where img_id = #{imgId,jdbcType=INTEGER}
  </update>
</mapper>