<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.wedding.demo.mapper.ShoppingCarMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.wedding.demo.pojo.ShoppingCar">
    <id column="shop_id" property="shopId" jdbcType="INTEGER"/>
    <result column="shop_hotel_id" property="shopHotelId" jdbcType="INTEGER"/>
    <result column="shop_num" property="shopNum" jdbcType="INTEGER"/>
    <result column="shop_price" property="shopPrice" jdbcType="INTEGER"/>
    <result column="shop_user_id" property="shopUserId" jdbcType="INTEGER"/>
  </resultMap>
  <sql id="Base_Column_List">
    shop_id, shop_hotel_id, shop_num, shop_price, shop_user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List"/>
    from shoppingcar
    where shop_id = #{shopId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shoppingcar
    where shop_id = #{shopId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.wedding.demo.pojo.ShoppingCar">
    insert into shoppingcar (shop_id, shop_hotel_id, shop_num,
      shop_price, shop_user_id)
    values (#{shopId,jdbcType=INTEGER}, #{shopHotelId,jdbcType=INTEGER}, #{shopNum,jdbcType=INTEGER},
      #{shopPrice,jdbcType=INTEGER}, #{shopUserId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.wedding.demo.pojo.ShoppingCar">
    insert into shoppingcar
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="shopHotelId != null">
        shop_hotel_id,
      </if>
      <if test="shopNum != null">
        shop_num,
      </if>
      <if test="shopPrice != null">
        shop_price,
      </if>
      <if test="shopUserId != null">
        shop_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="shopHotelId != null">
        #{shopHotelId,jdbcType=INTEGER},
      </if>
      <if test="shopNum != null">
        #{shopNum,jdbcType=INTEGER},
      </if>
      <if test="shopPrice != null">
        #{shopPrice,jdbcType=INTEGER},
      </if>
      <if test="shopUserId != null">
        #{shopUserId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.wedding.demo.pojo.ShoppingCar">
    update shoppingcar
    <set>
      <if test="shopHotelId != null">
        shop_hotel_id = #{shopHotelId,jdbcType=INTEGER},
      </if>
      <if test="shopNum != null">
        shop_num = #{shopNum,jdbcType=INTEGER},
      </if>
      <if test="shopPrice != null">
        shop_price = #{shopPrice,jdbcType=INTEGER},
      </if>
      <if test="shopUserId != null">
        shop_user_id = #{shopUserId,jdbcType=INTEGER},
      </if>
    </set>
    where shop_id = #{shopId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.wedding.demo.pojo.ShoppingCar">
    update shoppingcar
    set shop_hotel_id = #{shopHotelId,jdbcType=INTEGER},
      shop_num = #{shopNum,jdbcType=INTEGER},
      shop_price = #{shopPrice,jdbcType=INTEGER},
      shop_user_id = #{shopUserId,jdbcType=INTEGER}
    where shop_id = #{shopId,jdbcType=INTEGER}
  </update>
  <select id="selectShopCar" resultType="map">
SELECT shop_id as sid, hotel.hotel_name as hotelName,hotel.hotel_price AS price,
img.img_url as imgUrl,shoppingcar.shop_num as num ,(hotel_price * shop_num) as sum
FROM hotel INNER JOIN img
ON hotel_id = img_hotel_id
INNER JOIN shoppingcar
ON hotel_id = shop_hotel_id
inner join user
on shop_user_id = user_id
where user_id = #{userId}
  </select>
  <select id="selectByIds" resultType="map">
SELECT shop_id as sid,hotel.hotel_id as hotelId,shop_user_id as userId, hotel.hotel_name as hotelName,hotel.hotel_price AS price,
img.img_url as imgUrl,shoppingcar.shop_num as num ,(hotel_price * shop_num) as sum
FROM hotel INNER JOIN img
ON hotel_id = img_hotel_id
INNER JOIN shoppingcar
ON hotel_id = shop_hotel_id
inner join user
on shop_user_id = user_id
where shop_id = #{arg1}
    </select>
  <!--删除购物车数据-->
  <delete id="deleteShopCar">
    delete from shoppingcar where shop_id in (
    <foreach collection="array" separator="," item="sid">
      #{sid}
    </foreach>
    )
  </delete>


</mapper>